<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TestApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gitlib">
        <activity
            android:name=".baselib.activity.PreventMultipleClickActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PlayDemoActivity"
            android:exported="false" />
        <activity
            android:name=".util.activity.RegexUtilActivity"
            android:exported="false" /> <!-- Theme_DeviceDefault_Light_NoActionBar_TranslucentDecor -->
        <activity
            android:name=".util.activity.StatusBarUtilActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.BaseLibActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".util.activity.SystemUtilActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.UtilActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>